
<div class=" home-page">
  <div class="card bg-dark text-white">
    <img class="card-img" src="https://images.unsplash.com/photo-1530878955558-a6c31b9c97db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="Card image" height="400">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>

  <!--to render html in angular use 1 way flow propert binding-->
  <div class="container mt-5" [innerHtml]="content">
   Loading....
  </div>
  

 </div>
